In [ ]:
import pandas as pd

In [ ]:
products=pd.read_csv('/content/drive/MyDrive/project_1/after/products.csv')

In [ ]:
products.product_name=products.product_name.str.lower()
products

,product_id,product_name,aisle,department
0,1,chocolate sandwich cookies,cookies cakes,snacks
1,78,nutter butter cookie bites go-pak,cookies cakes,snacks
2,102,danish butter cookies,cookies cakes,snacks
3,172,gluten free all natural chocolate chip cookies,cookies cakes,snacks
4,285,mini nilla wafers munch pack,cookies cakes,snacks
...,...,...,...,...
49683,22827,organic black mission figs,bulk dried fruits vegetables,bulk
49684,28655,crystallized ginger chunks,bulk dried fruits vegetables,bulk
49685,30365,vegetable chips,bulk dried fruits vegetables,bulk
49686,38007,naturally sweet plantain chips,bulk dried fruits vegetables,bulk
49687,48778,"fit super a juice, cold pressed, carrot/apple/...",bulk dried fruits vegetables,bulk

In [ ]:
#íƒ€ê²Ÿ ì œí’ˆêµ° ì¶”ì¶œ

In [ ]:
target_aisle=['cookies cakes', 'ice cream toppings', 'energy granola bars',
       'chips pretzels', 'crackers', 'popcorn jerky',
       'fruit vegetable snacks', 'trail mix snack mix',
       'doughs gelatins bake mixes', 'salad dressing toppings', 'spreads',
       'baking supplies decor', 'preserved dips spreads',
       'baking ingredients', 'frozen dessert', 'frozen pizza',
       'frozen breads doughs',
       'frozen appetizers sides', 'frozen breakfast','frozen vegan vegetarian',
       'protein meal replacements', 'yogurt', 'refrigerated pudding desserts',
       'baby food formula', 'hot dogs bacon sausage',
       'grains rice dried goods', 'dry pasta', 'pasta sauce',
       'fresh pasta', 'instant foods', 'cereal',
       'hot cereal pancake mixes', 'breakfast bars pastries', 'granola', 'tortillas flat bread',
       'bread', 'breakfast bakery', 'bakery desserts', 'buns rolls']
target_products=products[products.aisle.isin(target_aisle)].reset_index(drop=True)

In [ ]:
target_products

,product_id,product_name,aisle,department
0,1,chocolate sandwich cookies,cookies cakes,snacks
1,78,nutter butter cookie bites go-pak,cookies cakes,snacks
2,102,danish butter cookies,cookies cakes,snacks
3,172,gluten free all natural chocolate chip cookies,cookies cakes,snacks
4,285,mini nilla wafers munch pack,cookies cakes,snacks
...,...,...,...,...
15398,47826,classic potato pre-sliced hamburger buns,buns rolls,bakery
15399,48618,warm n serv soft dinner white rolls,buns rolls,bakery
15400,48901,100% whole wheat hoagie rolls,buns rolls,bakery
15401,49170,sin dawg 100% whole grain organic cinnamon-sug...,buns rolls,bakery
15402,49334,white giant hot dog buns,buns rolls,bakery

In [ ]:
target_products.isna().sum()

product_id      0
product_name    0
aisle           0
department      0
dtype: int64

In [ ]:
target_products.duplicated().sum()

0

In [ ]:
target_products.to_csv(path_or_buf='/content/drive/MyDrive/project_1/after/target_products.csv',index=False)

In [ ]:
target_product_id=list(target_products.product_id.unique())

In [ ]:
#gluten-free ì œí’ˆ

In [ ]:
gf_products=target_products[target_products.product_name.str.contains('free')==True].reset_index(drop=True)

In [ ]:
gf_products=gf_products[gf_products.product_name.str.contains('gluten')==True].reset_index(drop=True)

In [ ]:
gf_products

,product_id,product_name,aisle,department
0,172,gluten free all natural chocolate chip cookies,cookies cakes,snacks
1,1894,gluten free arrowroot cookies,cookies cakes,snacks
2,2696,gluten free chocolate brownies,cookies cakes,snacks
3,3291,gluten free chocolate chip quinoa cookies,cookies cakes,snacks
4,3684,gluten free ancient grain aged cheddar crisps,cookies cakes,snacks
...,...,...,...,...
664,31225,gluten free classic hotdog buns,buns rolls,bakery
665,33741,gluten free classic hamburger buns,buns rolls,bakery
666,37478,gluten free whole grain hamburger buns 4 count,buns rolls,bakery
667,42807,gluten free parbaked ciabatta rolls,buns rolls,bakery
668,44764,gluten free hot dog rolls,buns rolls,bakery

In [ ]:
gf_products.to_csv(path_or_buf='/content/drive/MyDrive/project_1/after/gf_products.csv',index=False)

In [ ]:
gf_product_id=list(gf_products.product_id.unique())
gf_product_aisle=list(gf_products.aisle.unique())

In [ ]:
#íƒ€ê²Ÿ ì œí’ˆêµ° orders ì¶”ì¶œ

In [ ]:
orders=pd.read_csv('/content/drive/MyDrive/project_1/after/orders.csv')

In [ ]:
orders

,order_id,product_id,add_to_cart_order,reordered,user_id,days_since_prior_order
0,2,33120.0,1.0,1.0,202279,8.0
1,2,28985.0,2.0,1.0,202279,8.0
2,2,9327.0,3.0,0.0,202279,8.0
3,2,45918.0,4.0,1.0,202279,8.0
4,2,30035.0,5.0,0.0,202279,8.0
...,...,...,...,...,...,...
31741033,3421063,14233.0,3.0,1.0,169679,4.0
31741034,3421063,35548.0,4.0,1.0,169679,4.0
31741035,3421070,35951.0,1.0,1.0,139822,8.0
31741036,3421070,16953.0,2.0,1.0,139822,8.0
31741037,3421070,4724.0,3.0,1.0,139822,8.0

In [ ]:
target_orders=orders[orders.product_id.isin(target_product_id)].reset_index(drop=True)

In [ ]:
target_orders

,order_id,product_id,add_to_cart_order,reordered,user_id,days_since_prior_order
0,2,30035.0,5.0,0.0,202279,8.0
1,2,40141.0,7.0,1.0,202279,8.0
2,2,1819.0,8.0,1.0,202279,8.0
3,3,33754.0,1.0,1.0,205970,12.0
4,3,32665.0,8.0,1.0,205970,12.0
...,...,...,...,...,...,...
8717371,3421056,5750.0,1.0,1.0,83898,11.0
8717372,3421056,16475.0,4.0,0.0,83898,11.0
8717373,3421058,6858.0,5.0,1.0,136952,15.0
8717374,3421063,13565.0,2.0,1.0,169679,4.0
8717375,3421070,16953.0,2.0,1.0,139822,8.0

In [ ]:
target_orders=target_orders.astype('int')

In [ ]:
target_orders.isna().sum()

order_id                  0
product_id                0
add_to_cart_order         0
reordered                 0
user_id                   0
days_since_prior_order    0
dtype: int64

In [ ]:
target_orders.duplicated().sum()

0

In [ ]:
target_orders.to_csv(path_or_buf='/content/drive/MyDrive/project_1/after/target_orders.csv',index=False)

In [ ]:
#free-gluten ì œí’ˆ orders ì¶”ì¶œ

In [ ]:
gf_orders=orders[orders.product_id.isin(gf_product_id)].reset_index(drop=True)

In [ ]:
gf_orders=gf_orders.astype('int')

In [ ]:
gf_orders

,order_id,product_id,add_to_cart_order,reordered,user_id,days_since_prior_order
0,23,12036,6,1,68572,8
1,23,13497,7,0,68572,8
2,33,40063,9,1,119866,21
3,50,37788,4,0,94330,4
4,66,7658,5,1,83434,5
...,...,...,...,...,...,...
405880,3419531,49141,30,0,43300,6
405881,3419542,36792,4,0,44275,16
405882,3420258,21999,10,1,53526,5
405883,3421049,40800,1,0,189544,3
405884,3421063,13565,2,1,169679,4

In [ ]:
gf_orders.to_csv(path_or_buf='/content/drive/MyDrive/project_1/after/gf_orders.csv',index=False)